@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  @font-face {
    font-family: "Poppins";
    src: url("./fonts/Poppins-Regular.ttf");
  }
}

textarea:focus,
input:focus {
  outline: none;
}