@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  @font-face {
    font-family: "Poppins";
    src: url("./fonts/Poppins-Regular.ttf");
  }
}

/* Reset css */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

textarea:focus,
input:focus {
  outline: none;
}

/* React Day Picker */
.rdp {
  --rdp-cell-size: 40px;
  --rdp-accent-color: #2463EB;
  --rdp-background-color: #e7edff;
  /* Outline border for focused elements */
  --rdp-outline: 2px solid var(--rdp-accent-color);
  /* Outline border for focused and selected elements */
  --rdp-outline-selected: 2px solid rgba(0, 0, 0, 0.75);
}

/* End - React Day Picker */